@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
    @세팅구역
*/
body {
  font-size: 14px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lato", "Noto Sans KR", sans-serif;
  font-weight: 400;
  letter-spacing: 0.001em;
  color: #1d1d1f;
  background: #fff;
  word-break: keep-all;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  font: inherit;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  border: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #444;
  opacity: 1;
}
input[readonly]::-moz-placeholder, input:disabled::-moz-placeholder, textarea[readonly]::-moz-placeholder, textarea:disabled::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

sup {
  font-size: small;
}

.link-buy {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  background: #0071e3;
  color: #fff;
  border-radius: 980px;
  line-height: 1.5;
  font-weight: 400;
  padding: 4px 11px;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  display: block;
  width: 100%;
  height: 44px;
  background: #fdfdfd;
}
.header .gnb-area {
  position: relative;
  margin: 0 auto;
  padding: 0 100px;
  background: #323232;
  color: #f5f5f7;
}
.header .gnb-area .gnb-list {
  display: flex;
  justify-content: space-between;
  line-height: 44px;
}
.header .gnb-area .gnb-list .gnb-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  opacity: 0.8;
}
.header .gnb-area .gnb-list .gnb-item .link-gnb {
  font-size: 12px;
  font-weight: 100;
}
.header .gnb-area .gnb-list .logo {
  background-image: url(../images/logo.png);
  background-size: 14px 44px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 14px;
}
.header .gnb-area .gnb-list .search {
  background-image: url(../images/search.png);
  background-size: 15px 88px;
  background-repeat: no-repeat;
  width: 15px;
}
.header .gnb-area .gnb-list .cart {
  background-image: url(../images/cart.png);
  background-size: 13px 44px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 13px;
}
.header .lnb-area {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 52px;
  line-height: 52px;
  padding: 0 100px;
  border-bottom: 1px solid #ddd;
  background: rgba(250, 250, 250, 0.5);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.header .lnb-area .title {
  font-size: 21px;
  font-weight: 600;
  display: block;
}
.header .lnb-area .menu-area {
  font-size: 11px;
  font-weight: 400;
}
.header .lnb-area .menu-area .menu-list {
  display: flex;
  justify-content: space-between;
}
.header .lnb-area .menu-area .menu-list .menu-item {
  margin-right: 20px;
  opacity: 0.85;
}
.header .lnb-area .menu-area .menu-list .menu-item:first-child {
  opacity: 0.5;
}
.header .lnb-area .menu-area .menu-list .menu-item .active:hover {
  color: #06c;
}
.header .lnb-area .menu-area .menu-list .menu-item .link-buy {
  margin-right: -20px;
}

.main-content {
  position: relative;
  padding-top: 100px;
  max-width: 55%;
  margin: 0 auto;
  z-index: 2;
}
.main-content .main-logo {
  font-size: 40px;
  font-weight: 600;
}
.main-content .main-title {
  font-size: 48px;
  font-weight: 600;
  margin: 10px 0;
}
.main-content .desc {
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.001em;
}
.main-content .link-video {
  display: inline-block;
  margin: 20px 0;
  font-size: 20px;
  font-weight: 400;
  color: #06c;
}
.main-content .link-video > span:hover {
  text-decoration: underline;
}
.main-content .link-video::after {
  content: "▶";
  font-size: 2px;
  border-radius: 100%;
  border: 1px solid #06c;
  padding: 4px;
  margin-left: 8px;
  vertical-align: middle;
}
.main-content .link {
  display: inline-block;
  margin: 30px 0;
  font-size: 21px;
  font-weight: 400;
  color: #06c;
}
.main-content .link > span:hover {
  text-decoration: underline;
}
.main-content .link::after {
  content: ">";
}

.column {
  flex: 1;
}
.column .product-area {
  width: 210px;
  height: 480px;
  border-bottom: 1px solid #ddd;
}
.column .product-area .image-box {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 auto;
  width: 210px;
  height: 235px;
}
.column .product-area .info-box {
  padding-top: 50px;
  width: 210px;
  margin: 0 auto;
}
.column .product-area .info-box .title {
  font-size: 24px;
  font-weight: 600;
}
.column .product-area .info-box .title .sub-title {
  display: block;
  height: 21px;
  font-size: 13px;
  font-weight: 400;
}
.column .product-area .info-box .price {
  display: block;
  font-size: 17px;
  margin: 10px 0 15px;
}
.column .product-area .info-box .link-buy {
  font-size: 11px;
}
.column .product-area .info-box .link {
  display: block;
  font-size: 12px;
  margin-top: 15px;
}
.column .info-area .info-item {
  height: 91px;
}
.column .info-area .info-item .text {
  font-size: 13px;
}

.main {
  margin-top: 96px;
  text-align: center;
}

.sc-intro {
  position: relative;
  margin: 0 auto;
  background: #f8f8f8;
}
.sc-intro .image-wrap {
  position: relative;
  left: 50%;
  background-image: url(../images/main.jpg);
  background-repeat: no-repeat;
  width: 2560px;
  height: 618px;
  margin-left: -1250px;
  margin-top: -60px;
}

.sc-wireless {
  position: relative;
  margin: 0 auto;
  background: #000;
  color: #f5f5f5;
}
.sc-wireless .image-wrap {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../images/wireless.jpg);
  background-repeat: no-repeat;
  margin-top: -350px;
  width: 2560px;
  height: 1951px;
  z-index: 1;
}
.sc-wireless .sub-content {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  max-width: 60%;
}
.sc-wireless .sub-content img {
  margin: 0 auto;
}
.sc-wireless .sub-content .sub-title {
  font-size: 48px;
  font-weight: 600;
  margin: 15px 0 10px;
}
.sc-wireless .sub-content .desc {
  font-size: 17px;
  line-height: 1.8;
}
.sc-wireless .sub-content .func-list {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.sc-wireless .sub-content .func-list .func-item .wireless-icon {
  position: relative;
  display: block;
  margin: 0 auto;
  background-repeat: no-repeat;
  margin-bottom: 5px;
}
.sc-wireless .sub-content .func-list .func-item .ic-phone {
  background-image: url(../images/ic_phone.png);
  width: 35px;
  height: 43px;
}
.sc-wireless .sub-content .func-list .func-item .ic-music {
  background-image: url(../images/ic_music.png);
  width: 29px;
  height: 43px;
}
.sc-wireless .sub-content .func-list .func-item .ic-volume {
  background-image: url(../images/ic_volume.png);
  width: 42px;
  height: 43px;
}
.sc-wireless .sub-content .func-list .func-item .ic-map {
  background-image: url(../images/ic_map.png);
  width: 25px;
  height: 43px;
}

.sc-performance {
  position: relative;
  background: #fafafa;
  padding-bottom: 50px;
}
.sc-performance .main-content {
  max-width: 67%;
}
.sc-performance .sub-content {
  padding: 50px 0 100px;
}
.sc-performance .sub-content .image-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.sc-performance .sub-content .image-wrap .image-left {
  width: 449px;
  height: 996px;
  margin-top: 30px;
  margin-left: 40px;
}
.sc-performance .sub-content .image-wrap .image-right {
  width: 392px;
  height: 993px;
  margin-top: 0;
  margin-right: 72px;
}
.sc-performance .sub-content .image-wrap .image-caption {
  position: absolute;
}
.sc-performance .sub-content .image-wrap .image-caption .left-caption, .sc-performance .sub-content .image-wrap .image-caption .right-caption {
  position: absolute;
  text-align: left;
  top: 558px;
  width: 230px;
  z-index: 2;
  right: 200px;
}
.sc-performance .sub-content .image-wrap .image-caption .left-caption strong, .sc-performance .sub-content .image-wrap .image-caption .right-caption strong {
  font-weight: 600;
}
.sc-performance .sub-content .image-wrap .image-caption .left-caption p, .sc-performance .sub-content .image-wrap .image-caption .right-caption p {
  margin-top: 15px;
  line-height: 1.8;
  font-size: 12px;
}
.sc-performance .sub-content .image-wrap .image-caption .left-caption {
  right: 200px;
}
.sc-performance .sub-content .image-wrap .image-caption .right-caption {
  left: 230px;
}

.sc-charge .main-content {
  max-width: 67%;
}

.sc-battery {
  position: relative;
}
.sc-battery .main-content {
  max-width: 67%;
}
.sc-battery .func-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 40%;
  margin-top: 30px;
  z-index: 2;
}
.sc-battery .func-list .func-item {
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.sc-battery .func-list .func-item .text-large {
  line-height: 1.1;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: -0.08em;
}
.sc-battery .func-list .func-item .text-large .text-medium {
  font-size: 32px;
  font-weight: 500;
}
.sc-battery .image-wrap {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../images/battery.jpg);
  background-repeat: no-repeat;
  width: 2560px;
  height: 1078px;
  margin-top: -100px;
}

.sc-connect .main-content {
  max-width: 67%;
}
.sc-connect .image-wrap {
  position: relative;
  left: 50%;
  transform: translateX(-48%);
  background-image: url(../images/connect.jpg);
  background-repeat: no-repeat;
  width: 564px;
  height: 628px;
  margin-top: 50px;
}

.sc-share .main-content {
  max-width: 47%;
}
.sc-share .image-wrap {
  position: relative;
  left: 50%;
  transform: translateX(-48%);
  background-image: url(../images/share.jpg);
  background-repeat: no-repeat;
  width: 940px;
  height: 782px;
  margin-top: 50px;
}

.sc-design {
  overflow: hidden;
  margin-bottom: 20px;
}
.sc-design .main-content {
  background: #fafafa;
  margin: 0 20px 20px 20px;
  max-width: 100%;
  padding: 60px 0 60px 60px;
}
.sc-design .main-content .inner {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1135px;
}
.sc-design .main-content .text-area {
  width: 400px;
  margin-right: 20px;
}
.sc-design .main-content .text-area .main-title {
  font-size: 42px;
}
.sc-design .main-content .text-area .desc {
  width: 70%;
}
.sc-design .main-content .image-wrap {
  position: relative;
  background-image: url(../images/design.png);
  background-repeat: no-repeat;
  width: 637px;
  height: 289px;
  margin-top: 20px;
}

.sc-music {
  overflow: hidden;
}
.sc-music .main-content {
  background: #fafafa;
  margin: 0 20px 20px 20px;
  max-width: 100%;
  padding: 60px 0 60px 60px;
}
.sc-music .main-content .inner {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1135px;
}
.sc-music .main-content .text-area {
  width: 370px;
  padding: 55px 0 35px;
}
.sc-music .main-content .text-area em {
  font-size: 32px;
  font-weight: 600;
}
.sc-music .main-content .text-area .main-title {
  font-size: 42px;
}
.sc-music .main-content .image-wrap {
  width: 60%;
  position: relative;
}
.sc-music .main-content .image-wrap .music1 {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.sc-music .main-content .image-wrap .music2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.sc-music .main-content .image-wrap .music3 {
  position: absolute;
  top: 50%;
  left: 8%;
  z-index: 2;
}
.sc-music .main-content .image-wrap .music4 {
  position: absolute;
  top: 20%;
  right: 8%;
  z-index: 2;
}

.sc-recommend {
  padding: 50px 0 50px;
  overflow: hidden;
}
.sc-recommend .main-content {
  max-width: 100%;
}
.sc-recommend .main-content .rec-title {
  font-size: 60px;
  line-height: 1;
  font-weight: 600;
}
.sc-recommend .main-content .group-inner {
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}