@charset "UTF-8";
/*반응형 화면 크기*/
/*반응형, 브라우저 크기가 320px 이하일때*/
/*반응형, 브라우저 크기가 734px 이하일때*/
/*반응형, 브라우저 크기가 734이상, 1023px 이하일때*/
/*반응형, 브라우저 크기가 1024px 이상일때*/
/*반응형, 브라우저 크기가 833px 이하일때*/
/*반응형, 브라우저 크기가 800px 이하일때*/
@font-face {
  font-family: "sfkr";
  src: url(../font/SFProKRDisplay_light.woff2) format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "sfkr";
  src: url(../font/SFProKRDisplay_regular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "sfkr";
  src: url(../font/SFProKRDisplay_medium.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "sfkr";
  src: url(../font/SFProKRDisplay_semibold.woff2) format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "sfdisplay";
  src: url(../font/sf-pro-display_regular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "sfkrdisplay";
  src: url(../font/sf-pro-display_medium.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "sfkrdisplay";
  src: url(../font/sf-pro-display_semibold.woff2) format("woff2");
  font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
    @세팅구역
*/
body {
  font-size: 14px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "sfdisplay", "sfkr", sans-serif;
  font-weight: 400;
  letter-spacing: 0.001em;
  color: #1d1d1f;
  background: #fff;
  word-break: keep-all;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  font: inherit;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  border: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #444;
  opacity: 1;
}
input[readonly]::-moz-placeholder, input:disabled::-moz-placeholder, textarea[readonly]::-moz-placeholder, textarea:disabled::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

sup {
  font-size: 0.6em;
}
sup:hover {
  color: #0071e3;
}

.link-buy {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  background: #0071e3;
  color: #fff;
  border-radius: 980px;
  line-height: 1.5;
  font-weight: 400;
  padding: 4px 11px;
}

.m-visible {
  display: none;
}
@media (max-width: 734px) {
  .m-visible {
    display: block;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  display: block;
  width: 100%;
  height: 44px;
  background: #fdfdfd;
}
.header.hide {
  top: -45px;
}
.header.up {
  background: #fff;
}
.header.dark .lnb-area {
  color: #fff;
  background: rgba(29, 29, 31, 0.72);
}
.header .gnb-area {
  background: #323232;
  width: 100%;
}
.header .gnb-area .gnb-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 35px;
  color: #f5f5f7;
}
@media (max-width: 833px) {
  .header .gnb-area .gnb-wrap {
    justify-content: space-between;
    padding: 0 22px 0 12px;
  }
}
.header .gnb-area .gnb-wrap .gnb-list {
  display: flex;
  justify-content: space-between;
  width: 82%;
  margin: 0 auto;
  line-height: 44px;
}
@media (max-width: 833px) {
  .header .gnb-area .gnb-wrap .gnb-list {
    display: none;
  }
}
.header .gnb-area .gnb-wrap .gnb-list .gnb-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  opacity: 0.8;
}
.header .gnb-area .gnb-wrap .gnb-list .gnb-item:hover {
  opacity: 1;
}
.header .gnb-area .gnb-wrap .gnb-list .gnb-item .link-gnb {
  font-size: 12px;
  font-weight: 400;
}
.header .gnb-area .gnb-wrap .logo {
  padding-right: 5%;
}
@media (max-width: 833px) {
  .header .gnb-area .gnb-wrap .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-right: 0;
  }
}
.header .gnb-area .gnb-wrap .logo .link-logo {
  display: block;
  background-image: url(../images/logo.png);
  background-size: 14px 44px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 14px;
  height: 44px;
}
.header .gnb-area .gnb-wrap .util-area {
  display: flex;
  padding-left: 5%;
}
@media (max-width: 833px) {
  .header .gnb-area .gnb-wrap .util-area {
    padding-left: 0;
  }
}
.header .gnb-area .gnb-wrap .util-area .link-search {
  display: block;
  padding-right: 50px;
  background-image: url(../images/search.png);
  background-size: 15px 88px;
  background-repeat: no-repeat;
  width: 15px;
  height: 44px;
  cursor: pointer;
}
@media (max-width: 833px) {
  .header .gnb-area .gnb-wrap .util-area .link-search {
    display: none;
  }
}
.header .gnb-area .gnb-wrap .util-area .link-cart {
  display: inline-block;
  background-image: url(../images/cart.png);
  background-size: 13px 44px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 13px;
  height: 44px;
  cursor: pointer;
}
.header .gnb-area .gnb-wrap .gnb-response {
  display: none;
}
@media (max-width: 833px) {
  .header .gnb-area .gnb-wrap .gnb-response {
    display: block;
    z-index: 100;
    /* label[for=trigger] > span의 n번째 요소 */
    /* check시 변하는 label[for=trigger] > span의 n번째 요소  */
    /* 사이드바 */
    /* input[id=trigger]가 체크되었을 때 사이드바가 나오는 형제 인접자 */
    /* check시 같이 밀려나가는 CSS 햄버거 메뉴 */
    /*  */
  }
  .header .gnb-area .gnb-wrap .gnb-response input[id=trigger] {
    display: none;
  }
  .header .gnb-area .gnb-wrap .gnb-response label[for=trigger] {
    position: relative;
    display: block;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  .header .gnb-area .gnb-wrap .gnb-response label[for=trigger] span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 0.5px;
    background-color: #f5f5f7;
    transition: transform 0.3s;
  }
  .header .gnb-area .gnb-wrap .gnb-response label[for=trigger] span:nth-child(1) {
    top: 40%;
  }
  .header .gnb-area .gnb-wrap .gnb-response label[for=trigger] span:nth-child(2) {
    top: 60%;
  }
  .header .gnb-area .gnb-wrap .gnb-response input[id=trigger]:checked + label span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  .header .gnb-area .gnb-wrap .gnb-response input[id=trigger]:checked + label span:nth-child(2) {
    top: 50%;
    transform: rotate(-45deg);
  }
  .header .gnb-area .gnb-wrap .gnb-response .sidebar {
    width: 100vh;
    height: 100vh;
    background-color: #1d1d1f;
    position: fixed;
    top: 44px;
    left: 0;
    top: -100vh;
    transition: 0.7s;
  }
  .header .gnb-area .gnb-wrap .gnb-response input[id=trigger]:checked ~ .sidebar {
    top: 44px;
  }
  .header .gnb-area .gnb-wrap .gnb-response input[id=trigger]:checked + label[for=trigger] {
    transition: 0.3s;
  }
}
.header .lnb-area {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 52px;
  line-height: 52px;
  padding: 0 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  background: rgba(250, 250, 250, 0.5);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: 99;
}
@media (max-width: 1068px) {
  .header .lnb-area {
    padding: 0 22px;
  }
}
.header .lnb-area .group-area {
  display: flex;
  justify-content: space-between;
  max-width: 980px;
  margin: 0 auto;
}
.header .lnb-area .group-area .title {
  font-size: 19px;
  font-weight: 600;
  display: block;
}
.header .lnb-area .group-area .menu-area {
  display: flex;
  font-size: 11px;
  font-weight: 400;
}
.header .lnb-area .group-area .menu-area .menu-list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 833px) {
  .header .lnb-area .group-area .menu-area .menu-list {
    display: none;
    max-height: 400px;
  }
}
.header .lnb-area .group-area .menu-area .menu-list .menu-item {
  margin-right: 20px;
  opacity: 0.85;
}
.header .lnb-area .group-area .menu-area .menu-list .menu-item:first-child {
  opacity: 0.5;
}
.header .lnb-area .group-area .menu-area .menu-list .menu-item .active:hover {
  color: #06c;
}
.header .lnb-area .group-area .menu-area .btn-toggle {
  display: none;
}
@media (max-width: 833px) {
  .header .lnb-area .group-area .menu-area .btn-toggle {
    display: block;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
  }
  .header .lnb-area .group-area .menu-area .btn-toggle::after {
    content: "+";
  }
}
.header .lnb-area .group-area .menu-area .link-buy {
  font-size: 12px;
  margin: 12px 0 14px;
}

.footer {
  position: relative;
  width: 100%;
  background: #f5f5f7;
  color: #6e6e73;
}

.footer-inner {
  max-width: 980px;
  padding: 0 22px 20px;
  margin: 0 auto;
}
.footer-inner .service-area {
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.footer-inner .service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}
.footer-inner .service-list .service-item {
  margin: 0 auto;
  position: relative;
  flex: 1;
  width: 216px;
  padding-top: 50px;
}
@media (max-width: 1023px) {
  .footer-inner .service-list .service-item {
    flex-basis: 50%;
  }
}
@media (max-width: 320px) {
  .footer-inner .service-list .service-item {
    flex-basis: 100%;
  }
}
.footer-inner .service-list .service-item .link-service {
  display: block;
  text-align: center;
  letter-spacing: 0.012em;
}
.footer-inner .service-list .service-item .link-service img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.footer-inner .service-list .service-item .link-service .title {
  font-size: 19px;
  font-weight: 600;
  margin-top: 10px;
  color: #1d1d1f;
}
.footer-inner .service-list .service-item .link-service .desc {
  font-size: 14px;
  margin-top: 5px;
  color: #1d1d1f;
}
.footer-inner .service-list .service-item .link-service .link {
  display: inline-block;
  margin: 15px 0;
  font-size: 14px;
  font-weight: 400;
  color: #06c;
}
.footer-inner .service-list .service-item .link-service .link > span:hover {
  text-decoration: underline;
}
.footer-inner .service-list .service-item .link-service .link::after {
  content: ">";
  margin-left: 5px;
}
.footer-inner .remark-area {
  font-family: "sfdisplay", "sfkr", sans-serif;
  margin: 0 auto;
  font-size: 12px;
  line-height: 1.34;
  letter-spacing: 0;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}
.footer-inner .remark-area .remark-00 {
  padding-bottom: 9px;
}
.footer-inner .remark-area ol {
  padding: 0 15px;
}
.footer-inner .remark-area ol li {
  padding-bottom: 8px;
}
.footer-inner .breadcrump {
  position: relative;
  padding: 20px 0;
  color: #424245;
}
@media (max-width: 833px) {
  .footer-inner .breadcrump {
    border-bottom: 1px solid #ddd;
  }
}
.footer-inner .breadcrump-list {
  display: flex;
}
.footer-inner .breadcrump-item .logo {
  width: 14px;
  height: 18px;
  display: block;
  position: relative;
  background-image: url(../images/logo_b.png);
  background-repeat: no-repeat;
}
.footer-inner .breadcrump-item .link-breadcrump {
  font-size: 12px;
}
.footer-inner .breadcrump-item + .breadcrump-item::before {
  content: "";
  width: 8px;
  height: 18px;
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-top: -5px;
  margin: 0 8px;
}
.footer-inner .nav-area {
  font-size: 12px;
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width: 833px) {
  .footer-inner .nav-area {
    flex-direction: column;
  }
}
.footer-inner .nav-area .nav-wrap {
  flex-basis: 20%;
}
.footer-inner .nav-area .nav-wrap .nav-box {
  margin-bottom: 30px;
}
@media (max-width: 833px) {
  .footer-inner .nav-area .nav-wrap .nav-box {
    margin-bottom: 0;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
}
.footer-inner .nav-area .nav-wrap .nav-box .title {
  color: #1d1d1d;
  font-weight: 600;
  margin-bottom: 10px;
}
@media (max-width: 833px) {
  .footer-inner .nav-area .nav-wrap .nav-box .title {
    color: #6e6e73;
    font-weight: 400;
    padding: 10px 0;
    margin-bottom: 0;
  }
  .footer-inner .nav-area .nav-wrap .nav-box .title:hover {
    color: #000;
  }
  .footer-inner .nav-area .nav-wrap .nav-box .title::after {
    content: "+";
    float: right;
    cursor: pointer;
  }
}
@media (max-width: 833px) {
  .footer-inner .nav-area .nav-wrap .nav-box .nav-list {
    display: none;
  }
}
.footer-inner .nav-area .nav-wrap .nav-box .nav-item {
  margin-bottom: 8px;
  color: #424245;
}
.footer-inner .nav-area .nav-wrap .nav-box .link-nav:hover {
  text-decoration: underline;
}
.footer-inner .group-flex {
  padding-top: 30px;
  font-size: 12px;
  color: #6e6e73;
}
@media (max-width: 833px) {
  .footer-inner .group-flex {
    padding: 19px 0;
  }
}
.footer-inner .group-flex .row-top {
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
}
@media (max-width: 833px) {
  .footer-inner .group-flex .row-top {
    border-bottom: none;
  }
}
.footer-inner .group-flex .row-top a {
  color: #06c;
}
.footer-inner .group-flex .row-bottom {
  overflow: hidden;
}
@media (max-width: 833px) {
  .footer-inner .group-flex .row-bottom {
    display: flex;
    flex-direction: column;
  }
}
.footer-inner .group-flex .row-bottom address {
  float: left;
  margin-right: 30px;
}
@media (max-width: 833px) {
  .footer-inner .group-flex .row-bottom address {
    margin: 0 30px 5px 0;
  }
}
.footer-inner .group-flex .row-bottom .policy {
  float: left;
  position: relative;
}
.footer-inner .group-flex .row-bottom .policy .link-policy {
  border-right: 1px solid #ddd;
  padding-right: 8px;
  margin-left: 5px;
  color: #424245;
}
.footer-inner .group-flex .row-bottom .policy .link-policy:first-child {
  margin-left: 0;
}
.footer-inner .group-flex .row-bottom .policy .link-policy:last-child {
  border: none;
  padding-right: 0;
}
.footer-inner .group-flex .row-bottom .policy .link-policy:hover {
  text-decoration: underline;
}
.footer-inner .group-flex .row-bottom .region {
  float: right;
}
@media (max-width: 833px) {
  .footer-inner .group-flex .row-bottom .region {
    order: -1;
    margin-bottom: 16px;
  }
}

.main-content {
  position: relative;
  padding-top: 100px;
  max-width: 980px;
  margin: 0 auto;
  z-index: 2;
}
.sc-intro .main-content {
  padding-top: 50px;
}
@media (max-width: 1068px) {
  .sc-intro .main-content {
    max-width: 692px;
  }
}
@media (max-width: 734px) {
  .sc-intro .main-content {
    max-width: 625px;
  }
}
.sc-wireless .main-content {
  padding-top: 50px;
}
@media (max-width: 1068px) {
  .sc-wireless .main-content {
    max-width: 692px;
  }
}
@media (max-width: 734px) {
  .sc-wireless .main-content {
    max-width: 625px;
    text-align: left;
    margin: 0 36px;
  }
}
@media (max-width: 320px) {
  .sc-wireless .main-content {
    max-width: 280px;
    margin: 0 20px;
  }
}
@media (max-width: 734px) {
  .sc-performance .main-content, .sc-charge .main-content, .sc-battery .main-content, .sc-connect .main-content, .sc-share .main-content {
    max-width: 625px;
    text-align: left;
    margin: 0 36px;
  }
}
@media (max-width: 320px) {
  .sc-performance .main-content, .sc-charge .main-content, .sc-battery .main-content, .sc-connect .main-content, .sc-share .main-content {
    max-width: 280px;
    margin: 0 20px;
  }
}
.main-content .main-logo {
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
}
@media (max-width: 1068px) {
  .main-content .main-logo {
    font-size: 32px;
  }
}
@media (max-width: 734px) {
  .main-content .main-logo {
    font-size: 24px;
  }
}
.main-content .main-title {
  font-size: 48px;
  font-weight: 600;
  margin: 10px 0 20px;
}
@media (max-width: 1068px) {
  .main-content .main-title {
    font-size: 40px;
  }
}
@media (max-width: 734px) {
  .main-content .main-title {
    font-size: 32px;
  }
}
@media (max-width: 734px) {
  .sc-charge .main-content .main-title {
    max-width: 120px;
    line-height: 1.2;
  }
}
@media (max-width: 320px) {
  .sc-connect .main-content .main-title {
    padding-right: 100px;
  }
}
.main-content .desc {
  margin: 0 auto;
  font-size: 21px;
  line-height: 1.5;
  letter-spacing: 0.001em;
}
.sc-intro .main-content .desc {
  margin: 0 200px;
}
@media (max-width: 1068px) {
  .sc-intro .main-content .desc {
    margin: 0 50px;
  }
}
@media (max-width: 734px) {
  .sc-intro .main-content .desc {
    font-size: 19px;
    margin: 0 38px;
  }
}
.sc-wireless .main-content .desc {
  margin: 0 202px;
}
@media (max-width: 1068px) {
  .sc-wireless .main-content .desc {
    margin: 0 60px;
  }
}
@media (max-width: 734px) {
  .sc-wireless .main-content .desc {
    margin: 0;
    font-size: 19px;
  }
}
.sc-performance .main-content .desc, .sc-charge .main-content .desc {
  margin: 0 120px;
}
@media (max-width: 734px) {
  .sc-performance .main-content .desc, .sc-charge .main-content .desc {
    margin: 0;
    font-size: 19px;
  }
}
.sc-battery .main-content .desc {
  margin: 0 80px;
}
@media (max-width: 1068px) {
  .sc-battery .main-content .desc {
    margin: 0 55px;
  }
}
@media (max-width: 734px) {
  .sc-battery .main-content .desc {
    margin: 0;
    font-size: 19px;
  }
}
.sc-connect .main-content .desc {
  margin: 0 130px;
}
@media (max-width: 734px) {
  .sc-connect .main-content .desc {
    margin: 0;
    font-size: 19px;
  }
}
.sc-share .main-content .desc {
  margin: 0 240px;
}
@media (max-width: 1068px) {
  .sc-share .main-content .desc {
    margin: 0 32px;
  }
}
@media (max-width: 734px) {
  .sc-share .main-content .desc {
    margin: 0;
    font-size: 19px;
  }
}
.main-content .link-video {
  display: inline-block;
  margin: 20px 0;
  font-size: 20px;
  font-weight: 400;
  color: #06c;
}
.main-content .link-video > span:hover {
  text-decoration: underline;
}
.main-content .link-video::after {
  content: "▶";
  font-size: 2px;
  border-radius: 100%;
  border: 1px solid #06c;
  padding: 4px;
  margin-left: 8px;
  vertical-align: middle;
}
@media (max-width: 734px) {
  .main-content .link-video {
    font-size: 19px;
  }
}
.main-content .link {
  display: inline-block;
  margin: 30px 0;
  font-size: 21px;
  font-weight: 400;
  color: #06c;
}
.main-content .link > span:hover {
  text-decoration: underline;
}
.main-content .link::after {
  content: ">";
}
.sc-design .main-content .link, .sc-music .main-content .link {
  margin: 10px 0;
}
@media (max-width: 1068px) {
  .sc-design .main-content .link, .sc-music .main-content .link {
    font-size: 17px;
  }
}

.column {
  max-width: 50%;
}
@media (max-width: 800px) {
  .column {
    margin: 0 auto;
  }
}
.column .product-area {
  width: 210px;
  height: 480px;
  border-bottom: 1px solid #ddd;
}
@media (max-width: 1068px) {
  .column .product-area {
    width: 160px;
    height: 370px;
  }
}
@media (max-width: 800px) {
  .column .product-area {
    width: 210px;
  }
}
@media (max-width: 320px) {
  .column .product-area {
    width: 135px;
  }
}
.column .product-area .image-box {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 auto;
  width: 210px;
  height: 235px;
}
@media (max-width: 1068px) {
  .column .product-area .image-box {
    width: 99px;
    height: 130px;
  }
}
.column .product-area .info-box {
  padding-top: 50px;
  width: 210px;
  margin: 0 auto;
}
@media (max-width: 1068px) {
  .column .product-area .info-box {
    width: 160px;
  }
}
@media (max-width: 800px) {
  .column .product-area .info-box {
    width: 210px;
  }
}
@media (max-width: 320px) {
  .column .product-area .info-box {
    width: 135px;
  }
}
.column .product-area .info-box .title {
  font-size: 24px;
  font-weight: 600;
}
.column .product-area .info-box .title .sub-title {
  display: block;
  height: 21px;
  font-size: 13px;
  font-weight: 400;
}
.column .product-area .info-box .price {
  display: block;
  font-size: 17px;
  margin: 10px 0 15px;
}
.column .product-area .info-box .link-buy {
  font-size: 11px;
}
.column .product-area .info-box .link {
  display: block;
  font-size: 12px;
  margin-top: 15px;
}
.column .info-area {
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #ddd;
  width: 210px;
}
@media (max-width: 1068px) {
  .column .info-area {
    width: 160px;
  }
}
@media (max-width: 800px) {
  .column .info-area {
    width: 210px;
  }
}
@media (max-width: 320px) {
  .column .info-area {
    width: 135px;
  }
}
.column .info-area .info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 91px;
  margin-top: 50px;
}
.column .info-area .info-item .set-img-box {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.column .info-area .info-item .text {
  padding-top: 10px;
  font-size: 13px;
  line-height: 1.2;
}
.column .info-area .info-item .text .value {
  font-size: 42px;
  font-weight: 500;
}
.column .info-area .info-item .text .sub-value {
  display: block;
}
.column .info-area .info-item .text sup {
  font-size: 10px;
}

.main {
  margin-top: 53px;
  text-align: center;
  overflow-x: hidden;
}

.sc-intro {
  position: relative;
  margin: 0 auto;
  background: #f8f8f8;
}
.sc-intro > .image-wrap {
  position: relative;
  margin-left: -45%;
  background-image: url(../images/main.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 2560px;
  height: 618px;
  margin-top: -60px;
}
@media (max-width: 1068px) {
  .sc-intro > .image-wrap {
    width: 100%;
    margin-top: -30px;
    margin-left: 2%;
    background-image: url(https://www.apple.com/v/airpods-2nd-generation/e/images/overview/hero_fallback__fsi5p5kx7t6q_medium.jpg);
    background-size: 1068px 363px;
    background-position: center center;
    height: 363px;
  }
}
@media (max-width: 734px) {
  .sc-intro > .image-wrap {
    background-image: url(../images/main_small.jpg);
    background-size: 736px 230px;
    background-position: center center;
    width: 736px;
    height: 230px;
    margin-left: -5%;
  }
}

.sc-wireless {
  position: relative;
  margin: 0 auto;
  background: #000;
  color: #f5f5f5;
}
.sc-wireless > .image-wrap {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../images/wireless.jpg);
  background-repeat: no-repeat;
  margin-top: -350px;
  width: 2560px;
  height: 1951px;
  z-index: 1;
}
@media (max-width: 1068px) {
  .sc-wireless > .image-wrap {
    left: 50%;
    transform: translateX(-50%);
    margin-top: -150px;
    background-image: url(../images/wireless_medium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 1068px;
    height: 1018px;
  }
}
@media (max-width: 734px) {
  .sc-wireless > .image-wrap {
    background-image: url(../images/wireless_small.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 736px 662px;
    width: 736px;
    height: 662px;
    margin: 0;
  }
}
.sc-wireless .sub-content {
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  max-width: 960px;
  padding: 0 200px;
}
@media (max-width: 1068px) {
  .sc-wireless .sub-content {
    max-width: 690px;
    padding: 0 60px;
  }
}
@media (max-width: 734px) {
  .sc-wireless .sub-content {
    max-width: 625px;
    padding: 0 36px;
    text-align: left;
    margin-top: 200px;
  }
}
@media (max-width: 320px) {
  .sc-wireless .sub-content {
    max-width: 280px;
    padding: 0;
  }
}
.sc-wireless .sub-content img {
  margin: 0 auto;
}
.sc-wireless .sub-content .sub-title {
  font-size: 48px;
  font-weight: 600;
  margin: 15px 0 10px;
}
@media (max-width: 734px) {
  .sc-wireless .sub-content .sub-title {
    font-size: 32px;
  }
}
.sc-wireless .sub-content .desc {
  font-size: 17px;
  line-height: 1.5;
}
.sc-wireless .sub-content .func-list {
  margin: 30px 0 60px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
@media (max-width: 734px) {
  .sc-wireless .sub-content .func-list {
    max-width: 308px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: -200px;
  }
}
@media (max-width: 734px) {
  .sc-wireless .sub-content .func-list .func-item {
    width: 140px;
    margin-bottom: 30px;
  }
}
.sc-wireless .sub-content .func-list .func-item .wireless-icon {
  position: relative;
  display: block;
  margin: 0 auto;
  background-repeat: no-repeat;
  margin-bottom: 5px;
}
.sc-wireless .sub-content .func-list .func-item .ic-phone {
  background-image: url(../images/ic_phone.png);
  width: 35px;
  height: 43px;
}
.sc-wireless .sub-content .func-list .func-item .ic-music {
  background-image: url(../images/ic_music.png);
  width: 29px;
  height: 43px;
}
.sc-wireless .sub-content .func-list .func-item .ic-volume {
  background-image: url(../images/ic_volume.png);
  width: 42px;
  height: 43px;
}
.sc-wireless .sub-content .func-list .func-item .ic-map {
  background-image: url(../images/ic_map.png);
  width: 25px;
  height: 43px;
}

.sc-performance {
  position: relative;
  background: #fafafa;
  padding-bottom: 50px;
}
@media (max-width: 734px) {
  .sc-performance {
    height: auto;
    padding-bottom: 0;
  }
}
.sc-performance .sub-content {
  position: relative;
  padding: 50px 0 100px;
}
.sc-performance .sub-content .image-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 1068px) {
  .sc-performance .sub-content .image-wrap {
    max-width: 690px;
    margin: 0 auto;
    flex-wrap: nowrap;
  }
}
@media (max-width: 734px) {
  .sc-performance .sub-content .image-wrap {
    max-width: 100%;
    gap: 5px;
    flex-wrap: wrap;
  }
}
.sc-performance .sub-content .image-wrap .image-left {
  background-image: url(../images/performance_left.jpg);
  background-repeat: no-repeat;
  width: 449px;
  height: 996px;
  margin-top: 30px;
  margin-left: 40px;
}
@media (max-width: 1068px) {
  .sc-performance .sub-content .image-wrap .image-left {
    background-image: url(../images/performance_left.jpg);
    background-repeat: no-repeat;
    background-size: 341px 758px;
    width: 341px;
    height: 758px;
    margin-top: 90px;
  }
}
@media (max-width: 734px) {
  .sc-performance .sub-content .image-wrap .image-left {
    background-image: url(../images/left_small.jpg);
    background-repeat: no-repeat;
    background-size: 157px 350px;
    width: 157px;
    height: 350px;
    margin-top: 0;
    margin-left: 0;
  }
}
@media (max-width: 320px) {
  .sc-performance .sub-content .image-wrap .image-left {
    margin-left: 0;
  }
}
.sc-performance .sub-content .image-wrap .image-right {
  background-image: url(../images/performance_right.jpg);
  background-repeat: no-repeat;
  width: 392px;
  height: 993px;
  margin-top: 0;
  margin-right: 72px;
}
@media (max-width: 1068px) {
  .sc-performance .sub-content .image-wrap .image-right {
    background-image: url(../images/performance_right.jpg);
    background-repeat: no-repeat;
    background-size: 298px 756px;
    width: 298px;
    height: 756px;
  }
}
@media (max-width: 734px) {
  .sc-performance .sub-content .image-wrap .image-right {
    background-image: url(../images/right_small.jpg);
    background-repeat: no-repeat;
    background-size: 138px 353px;
    width: 138px;
    height: 353px;
    margin-right: 0;
  }
}
@media (max-width: 320px) {
  .sc-performance .sub-content .image-wrap .image-right {
    margin-right: 0;
  }
}
.sc-performance .sub-content .image-caption {
  position: absolute;
  margin: 0 auto;
  width: 950px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1068px) {
  .sc-performance .sub-content .image-caption {
    width: 750px;
  }
}
@media (max-width: 734px) {
  .sc-performance .sub-content .image-caption {
    position: relative;
    max-width: 625px;
    width: auto;
    margin: 0 36px;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}
@media (max-width: 320px) {
  .sc-performance .sub-content .image-caption {
    margin: 0 20px;
  }
}
.sc-performance .sub-content .image-caption .left-caption, .sc-performance .sub-content .image-caption .right-caption {
  position: absolute;
  text-align: left;
  margin: 0 auto;
  width: 230px;
  z-index: 2;
}
@media (max-width: 1068px) {
  .sc-performance .sub-content .image-caption .left-caption, .sc-performance .sub-content .image-caption .right-caption {
    width: 200px;
  }
}
@media (max-width: 734px) {
  .sc-performance .sub-content .image-caption .left-caption, .sc-performance .sub-content .image-caption .right-caption {
    position: relative;
    width: auto;
    top: 0;
    left: 0;
    margin-top: 30px;
  }
}
@media (max-width: 320px) {
  .sc-performance .sub-content .image-caption .left-caption, .sc-performance .sub-content .image-caption .right-caption {
    min-width: 280px;
  }
}
.sc-performance .sub-content .image-caption .left-caption strong, .sc-performance .sub-content .image-caption .right-caption strong {
  font-weight: 600;
}
.sc-performance .sub-content .image-caption .left-caption p, .sc-performance .sub-content .image-caption .right-caption p {
  margin-top: 15px;
  line-height: 1.5;
  font-size: 14px;
}
.sc-performance .sub-content .image-caption .left-caption {
  left: 5%;
}
@media (max-width: 1068px) {
  .sc-performance .sub-content .image-caption .left-caption {
    left: 5%;
  }
}
@media (max-width: 734px) {
  .sc-performance .sub-content .image-caption .left-caption {
    left: 0;
  }
}
.sc-performance .sub-content .image-caption .right-caption {
  left: 75%;
}
@media (max-width: 1068px) {
  .sc-performance .sub-content .image-caption .right-caption {
    left: 70%;
  }
}
@media (max-width: 734px) {
  .sc-performance .sub-content .image-caption .right-caption {
    left: 0;
  }
}

.sc-battery {
  position: relative;
}
.sc-battery .main-content {
  max-width: 980px;
}
@media (max-width: 1068px) {
  .sc-battery .main-content {
    max-width: 690px;
  }
}
.sc-battery .func-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 500px;
  margin-top: 30px;
  z-index: 2;
}
@media (max-width: 734px) {
  .sc-battery .func-list {
    max-width: 400px;
  }
}
@media (max-width: 320px) {
  .sc-battery .func-list {
    max-width: 280px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
.sc-battery .func-list .func-item {
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.sc-battery .func-list .func-item .text-large {
  line-height: 1.1;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: -0.08em;
}
.sc-battery .func-list .func-item .text-large .text-medium {
  font-size: 32px;
  font-weight: 500;
}
.sc-battery .image-wrap {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../images/battery.jpg);
  background-repeat: no-repeat;
  width: 2560px;
  height: 1078px;
  margin-top: -100px;
}
@media (max-width: 1068px) {
  .sc-battery .image-wrap {
    background-image: url(../images/battery.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 1068px;
    height: 747px;
  }
}
@media (max-width: 734px) {
  .sc-battery .image-wrap {
    background-image: url(../images/battery_small.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 736px;
    height: 356px;
    margin-top: 50px;
  }
}

.sc-connect .main-content {
  max-width: 980px;
}
.sc-connect .image-wrap {
  position: relative;
  left: 50%;
  transform: translateX(-48%);
  background-image: url(../images/connect.jpg);
  background-repeat: no-repeat;
  width: 564px;
  height: 628px;
  margin-top: 50px;
}
@media (max-width: 1068px) {
  .sc-connect .image-wrap {
    background-image: url(../images/connect.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 560px;
  }
}
@media (max-width: 734px) {
  .sc-connect .image-wrap {
    background-image: url(../images/connect_small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 314px;
    height: 349px;
  }
}

.sc-share .main-content {
  max-width: 980px;
}
@media (max-width: 1068px) {
  .sc-share .main-content {
    max-width: 690px;
  }
}
.sc-share .image-wrap {
  position: relative;
  left: 50%;
  transform: translateX(-48%);
  background-image: url(../images/share.jpg);
  background-repeat: no-repeat;
  width: 940px;
  height: 782px;
  margin-top: 50px;
}
@media (max-width: 1068px) {
  .sc-share .image-wrap {
    background-image: url(https://www.apple.com/kr/airpods-2nd-generation/e/images/overview/sharing__f4pyrzkt5ia2_medium.jpg);
    background-repeat: no-repeat;
    background-size: 723px 697px;
    width: 723px;
    height: 697px;
  }
}
@media (max-width: 734px) {
  .sc-share .image-wrap {
    background-image: url(../images/share_small.jpg);
    background-repeat: no-repeat;
    background-size: 405px 421px;
    width: 405px;
    height: 421px;
  }
}

.sc-design {
  overflow: hidden;
  margin-bottom: 20px;
}
.sc-design .main-content {
  background: #fafafa;
  margin: 0 20px 0 20px;
  max-width: 100%;
  padding: 60px 0 60px 60px;
}
@media (max-width: 1068px) {
  .sc-design .main-content {
    padding: 60px;
  }
}
@media (max-width: 320px) {
  .sc-design .main-content {
    padding: 60px 0;
    margin: 0;
  }
}
.sc-design .main-content .inner {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 0 auto;
  max-width: 1250px;
}
@media (max-width: 1068px) {
  .sc-design .main-content .inner {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}
.sc-design .main-content .inner .text-area {
  max-width: 100%;
  margin-right: 20px;
  line-height: 1.2;
}
@media (max-width: 1068px) {
  .sc-design .main-content .inner .text-area {
    margin-right: 0;
  }
}
.sc-design .main-content .inner .text-area .main-title {
  font-size: 48px;
}
@media (max-width: 1068px) {
  .sc-design .main-content .inner .text-area .main-title {
    font-size: 40px;
    line-height: 1.2;
  }
}
@media (max-width: 734px) {
  .sc-design .main-content .inner .text-area .main-title {
    font-size: 32px;
  }
}
.sc-design .main-content .inner .text-area .desc {
  max-width: 300px;
  letter-spacing: 0.011em;
}
@media (max-width: 1068px) {
  .sc-design .main-content .inner .text-area .desc {
    max-width: 270px;
    font-size: 17px;
  }
}
.sc-design .main-content .inner .image-wrap {
  position: relative;
  background-image: url(../images/design.png);
  background-repeat: no-repeat;
  width: 637px;
  height: 289px;
  margin-top: 20px;
}
@media (max-width: 1068px) {
  .sc-design .main-content .inner .image-wrap {
    background-image: url(https://www.apple.com/kr/airpods-2nd-generation/e/images/overview/engraving__ualb7ydsu1uq_medium.png);
    background-repeat: no-repeat;
    margin-left: -30px;
  }
}
@media (max-width: 734px) {
  .sc-design .main-content .inner .image-wrap {
    background-image: url(../images/design_small.png);
    background-repeat: no-repeat;
    width: 274px;
    height: 114px;
  }
}

.sc-music {
  overflow: hidden;
}
.sc-music .main-content {
  background: #fafafa;
  margin: 0 20px 20px 20px;
  max-width: 100%;
  padding: 60px 0 60px 60px;
}
@media (max-width: 1068px) {
  .sc-music .main-content {
    padding: 10px 0 60px;
  }
}
@media (max-width: 734px) {
  .sc-music .main-content {
    padding-bottom: 30px;
  }
}
@media (max-width: 320px) {
  .sc-music .main-content {
    margin: 0;
  }
}
.sc-music .main-content .inner {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 10px 0 40px;
  margin: 0 auto;
  max-width: 1250px;
}
@media (max-width: 1068px) {
  .sc-music .main-content .inner {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}
.sc-music .main-content .inner .text-area {
  max-width: 400px;
  padding: 55px 0 35px;
  line-height: 1.2;
}
.sc-music .main-content .inner .text-area em {
  font-size: 32px;
  font-weight: 600;
}
.sc-music .main-content .inner .text-area .main-title {
  font-size: 48px;
  font-weight: 600;
}
@media (max-width: 1068px) {
  .sc-music .main-content .inner .text-area .main-title {
    font-size: 40px;
    line-height: 1.2;
    padding: 0 35px;
  }
}
@media (max-width: 734px) {
  .sc-music .main-content .inner .text-area .main-title {
    font-size: 32px;
  }
}
.sc-music .main-content .inner .image-wrap {
  width: 50%;
  position: relative;
}
@media (max-width: 1068px) {
  .sc-music .main-content .inner .image-wrap {
    width: 310px;
    height: 320px;
  }
}
.sc-music .main-content .inner .image-wrap .music1 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
@media (max-width: 734px) {
  .sc-music .main-content .inner .image-wrap .music1 {
    background-image: url(../images/music_small.jpg);
    background-repeat: no-repeat;
    width: 247px;
    height: 247px;
  }
}
.sc-music .main-content .inner .image-wrap .music2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1068px) {
  .sc-music .main-content .inner .image-wrap .music2 {
    width: 90%;
  }
}
@media (max-width: 734px) {
  .sc-music .main-content .inner .image-wrap .music2 {
    background-image: url(../images/music_small2.jpg);
    background-repeat: no-repeat;
    width: 229px;
    height: 259px;
    top: 49%;
  }
}
.sc-music .main-content .inner .image-wrap .music3 {
  position: absolute;
  top: 50%;
  left: 5%;
  z-index: 2;
}
@media (max-width: 1068px) {
  .sc-music .main-content .inner .image-wrap .music3 {
    top: 40%;
    left: -25%;
  }
}
@media (max-width: 734px) {
  .sc-music .main-content .inner .image-wrap .music3 {
    background-image: url(../images/music_left_small.jpg);
    background-repeat: no-repeat;
    width: 99px;
    height: 157px;
    top: 45%;
    left: -10%;
  }
}
.sc-music .main-content .inner .image-wrap .music4 {
  position: absolute;
  top: 20%;
  right: 5%;
  z-index: 2;
}
@media (max-width: 1068px) {
  .sc-music .main-content .inner .image-wrap .music4 {
    right: -25%;
  }
}
@media (max-width: 734px) {
  .sc-music .main-content .inner .image-wrap .music4 {
    background-image: url(../images/music_right_small.jpg);
    background-repeat: no-repeat;
    width: 100px;
    height: 155px;
    top: 30%;
    right: -10%;
  }
}

.sc-recommend {
  padding: 30px 0 20px;
}
.sc-recommend .main-content {
  max-width: 100%;
  padding-top: 50px;
}
.sc-recommend .main-content .main-title {
  font-size: 64px;
  line-height: 1;
  font-weight: 600;
}
@media (max-width: 1068px) {
  .sc-recommend .main-content .main-title {
    font-size: 40px;
  }
}
@media (max-width: 800px) {
  .sc-recommend .main-content .main-title {
    font-size: 32px;
    padding-bottom: 50px;
  }
}
.sc-recommend .main-content .group-inner {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}
@media (max-width: 1068px) {
  .sc-recommend .main-content .group-inner {
    max-width: 850px;
    padding: 0 20px;
  }
}
@media (max-width: 800px) {
  .sc-recommend .main-content .group-inner {
    max-width: 540px;
    flex-wrap: wrap;
    padding: 0;
  }
}
@media (max-width: 734px) {
  .sc-recommend .main-content .group-inner {
    margin: 0 auto;
  }
}