
.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
}

sup {
    font-size: small;
    &:hover {
        color: #0071e3;
    }
}

.link-buy {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    background: #0071e3;
    color: #fff;
    border-radius: 980px;
    line-height: 1.5;
    font-weight: 400;
    padding: 4px 11px;                                         
}

.m-visible {
    display: none;
    @include mobile {
        display: block;
    }
}
