.header {
    // fixed를 사용했을 때 헤더에서 렉이 걸림 sticky로 처리하고 header
    position: sticky;
    // position: fixed;
    top: 0; right: 0; left: 0;
    z-index: 99;
    display: block;
    width: 100%;
    height: 44px;
    background: #fdfdfd;
    // transition: transform 0.5s;
    &.hide {
        // transform: translateY(-45px);
        top: -50px;

    }

    &.dark {
        .lnb-area {
            color: #fff;
            background: rgba(29,29,31,0.72);
        }
    }


    &.up {background: #fff;}

    .gnb-area {
        position: relative;
        margin: 0 auto;
        padding: 0 100px;
        background: #323232;
        color: #f5f5f7;
        
        .gnb-list {
            max-width: 980px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            line-height: 44px;

            .gnb-item {
                position: relative;
                display: inline-block;
                vertical-align: top;
                opacity: 0.8;
                &:hover {
                    opacity: 1;
                }

                .link-gnb {
                    font-size: 12px;
                    font-weight: 100;
                }
            }

            .logo {
                background-image: url(../images/logo.png);
                background-size: 14px 44px;
                background-repeat: no-repeat;
                background-position: center center;
                width: 14px;
                cursor: pointer;
            }
            .search {
                background-image: url(../images/search.png);
                background-size: 15px 88px;
                background-repeat: no-repeat;
                width: 15px;
                cursor: pointer;
            }
            .cart {
                background-image: url(../images/cart.png);
                background-size: 13px 44px;
                background-repeat: no-repeat;
                background-position: center center;
                width: 13px;
                cursor: pointer;
            }
        }
    }

    .lnb-area {
        position: sticky;
        top: 0;
        height: 52px;
        line-height: 52px;
        padding: 0 100px;
        border-bottom: 1px solid rgba(#000, .16);
        background: rgba(250, 250, 250, 0.5);
        backdrop-filter: blur(20px); // 자신이 아닌 배경에 필터효과 적용
        @include desktop {
            padding: 0 22px;
        }

        .group-area {
            display: flex;
            justify-content: space-between;
            max-width: 980px; margin: 0 auto;
            .title {
                font-size: 21px;
                font-weight: 600;
                display: block;
            }
    
            .menu-area {
                font-size: 11px;
                font-weight: 400;
                .menu-list {
                    display: flex;
                    justify-content: space-between;
                    .menu-item {
                        margin-right: 20px;
                        opacity: .85;
                        &:first-child {
                            opacity: 0.5;
                        }
                        .active:hover {
                            color: #06c;
                        }
                        .link-buy {
                            margin-right: -20px;
                        }
                    }
                }
            }
        }
    }
}