@mixin ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin multi-ellipsis($font-size, $line-height, $lines) {
    font-size: $font-size;
    line-height: $line-height;
    max-height: $line-height * $lines;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical; /* autoprefixer: off */
}



/*반응형 화면 크기*/
$iphone: 320px; 

$mobile: 734px; //320 //767
$tablet: 1023px; // 768
$desktop: 1068px; //1024

$recommend: 800px;
$header: 833px; 

/*반응형, 브라우저 크기가 320px 이하일때*/
@mixin iphone{
  @media (max-width: $iphone){
    @content;
  }
}

/*반응형, 브라우저 크기가 734px 이하일때*/
@mixin mobile{
  @media (max-width: $mobile){
    @content;
  }
}

/*반응형, 브라우저 크기가 734이상, 1023px 이하일때*/
@mixin tablet{
  @media (max-width: $tablet){
    @content;
  }
}

/*반응형, 브라우저 크기가 1024px 이상일때*/
@mixin desktop{
  @media (max-width: $desktop){
    @content;
  }
}

/*반응형, 브라우저 크기가 833px 이하일때*/
@mixin header{
  @media (max-width: $header){
    @content;
  }
}

/*반응형, 브라우저 크기가 800px 이하일때*/
@mixin recommend{
  @media (max-width: $recommend){
    @content;
  }
}

