.main {
    margin-top: 53px;
    text-align: center;
    overflow-x: hidden;
}

// --------------------------- sc-intro ----------------------------
.sc-intro {
    position: relative;
    margin: 0 auto;
    background: #f8f8f8;
    
    &>.image-wrap {
        position: relative;
        margin-left: -45%;
        background-image: url(../images/main.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        width: 2560px; height: 618px;
        
        margin-top: -60px;
        @include desktop {
            width: 100%;
            margin-top: -30px;
            margin-left: 2%;
            background-image: url(https://www.apple.com/v/airpods-2nd-generation/e/images/overview/hero_fallback__fsi5p5kx7t6q_medium.jpg);
            background-size: 1068px 363px;
            background-position: center center;
            height: 363px;
        }
        @include mobile {
            background-image: url(../images/main_small.jpg);
            background-size: 736px 230px;
            background-position: center center;
            width: 736px; height: 230px;
            margin-left: -5%;
        }
    }
    
}


// --------------------------- sc-wireless ----------------------------
.sc-wireless {
    position: relative;
    margin: 0 auto;
    background: #000;
    color: #f5f5f5;
    
    &>.image-wrap {
        position: relative;
        left: 50%; transform: translateX(-50%);
        background-image: url(../images/wireless.jpg);
        background-repeat: no-repeat;
        margin-top: -350px;
        width: 2560px; height: 1951px;
        z-index: 1;
        @include desktop {
            left: 50%; transform: translateX(-50%);
            margin-top: -150px;
            background-image: url(../images/wireless_medium.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            width: 1068px; height: 1018px;
        }
        @include mobile {
            background-image: url(../images/wireless_small.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 736px 662px;
            width: 736px; height: 662px;
            margin: 0;
        }
    }
    .sub-content {
        position: relative;
        top: 0%; left: 50%; transform: translate(-50%, -50%);
        z-index: 1;
        max-width: 960px;
        padding: 0 200px;
        
        @include desktop {
            max-width: 690px;
            padding: 0 60px;
        }
        @include mobile {
            max-width: 625px;
            padding: 0 36px;
            text-align: left;
            margin-top: 200px;
        }
        @include iphone {
            max-width: 280px;
            padding: 0;
        }
        img {margin: 0 auto;}

        .sub-title {
            font-size: 48px;
            font-weight: 600;
            margin: 15px 0 10px;
            @include mobile {
                font-size: 32px;
            }
        }
        .desc {
            font-size: 17px;
            line-height: 1.5;
        }

        .func-list {
            margin: 30px 0 60px;
            display: flex;
            justify-content: space-between;
            text-align: center;
            @include mobile {
                max-width: 308px;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                padding-top: 30px;
                margin-bottom: -200px;
            }
            .func-item {
                @include mobile {
                    width: 140px;
                    margin-bottom: 30px;
                }
                .wireless-icon {
                    position: relative;
                    display: block;
                    margin: 0 auto;
                    background-repeat: no-repeat;
                    margin-bottom: 5px;
                }
                .ic-phone {
                    background-image: url(../images/ic_phone.png);
                    width: 35px; height: 43px;
                }
                .ic-music {
                    background-image: url(../images/ic_music.png);
                    width: 29px; height: 43px;
                }
                .ic-volume {
                    background-image: url(../images/ic_volume.png);
                    width: 42px; height: 43px;
                }
                .ic-map {
                    background-image: url(../images/ic_map.png);
                    width: 25px; height: 43px;
                }
            }
        }
    }
}


// --------------------------- sc-performance ----------------------------
.sc-performance {
    position: relative;
    background: #fafafa;
    padding-bottom: 50px;
    @include mobile {
        height: auto;
        padding-bottom: 0;
    }

    .sub-content {
        position: relative;
        padding: 50px 0 100px;
        .image-wrap {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            gap: 30px;
            @include desktop {
                max-width: 690px;
                margin: 0 auto;
                flex-wrap: nowrap;
            }
            @include mobile {
                max-width: 100%;
                gap: 5px;
                flex-wrap: wrap;
            }

            // figure 태그로 background img 잡기
            .image-left {
                background-image: url(../images/performance_left.jpg);
                background-repeat: no-repeat;
                width: 449px; height: 996px;
                margin-top: 30px;
                margin-left: 40px;
                @include desktop {
                    background-image: url(../images/performance_left.jpg);
                    background-repeat: no-repeat;
                    background-size: 341px 758px;
                    width: 341px; height: 758px;
                    margin-top: 90px;
                }
                @include mobile {
                    background-image: url(../images/left_small.jpg);
                    background-repeat: no-repeat;
                    background-size: 157px 350px;
                    width: 157px; height: 350px;
                    margin-top: 0;
                    margin-left: 0;
                }
                @include iphone {
                    margin-left: 0;
                }
            }
            .image-right {
                background-image: url(../images/performance_right.jpg);
                background-repeat: no-repeat;
                width: 392px; height: 993px;
                margin-top: 0;
                margin-right: 72px;
                @include desktop {
                    background-image: url(../images/performance_right.jpg);
                    background-repeat: no-repeat;
                    background-size: 298px 756px;
                    width: 298px; height: 756px;
                }
                @include mobile {
                    background-image: url(../images/right_small.jpg);
                    background-repeat: no-repeat;
                    background-size: 138px 353px;
                    width: 138px; height: 353px;
                    margin-right: 0;
                }
                @include iphone {
                    margin-right: 0;
                }
            }

        }
        .image-caption {
            position: absolute;
            margin: 0 auto;
            width: 950px; height: auto;
            top: 50%; left: 50%; transform: translate(-50%, -50%);
            @include desktop {
                width: 750px;
            }
            @include mobile {
                position: relative;
                max-width: 625px;
                width: auto;
                margin: 0 36px;
                top: 0; left: 0; transform: translate(0, 0);
            }
            @include iphone {
                margin: 0 20px;
            }
            
            .left-caption, .right-caption {
                position: absolute;
                text-align: left;
                margin: 0 auto;
                width: 230px;
                z-index: 2;
                @include desktop {
                    width: 200px;
                }
                @include mobile {
                    position: relative;
                    width: auto;
                    top: 0; left: 0;
                    margin-top: 30px;
                }
                @include iphone {
                    min-width: 280px;
                }
                strong { font-weight: 600; }
                p {
                    margin-top: 15px; line-height: 1.5; font-size: 14px;
                    @include mobile {
                        
                    }
                }
            }
            .left-caption {
                left: 5%;
                @include desktop {
                    left: 5%;
                }
                @include mobile {
                    left: 0;
                }
            }
            .right-caption {
                left: 75%;
                @include desktop {
                    left: 70%;
                }
                @include mobile {
                    left: 0;
                }
            }
        }
    }
}


// --------------------------- sc-charge ----------------------------
.sc-charge {}


// --------------------------- sc-battery ----------------------------
.sc-battery {
    position: relative;
    .main-content {
        max-width: 980px;
        @include desktop {
            max-width: 690px;
        }
    }
    .func-list {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 500px;
        margin-top: 30px;
        z-index: 2;
        @include mobile {
            max-width: 400px;
        }
        @include iphone {
            max-width: 280px;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }
        
        .func-item {
            display: flex;
            flex-direction: column;
            z-index: 1;
            .text-large {
                line-height: 1.1;
                font-size: 48px;
                font-weight: 400;
                letter-spacing: -0.08em;
                .text-medium {
                    font-size: 32px; 
                    font-weight: 500;
                }
            }
        }
    }

    .image-wrap {
        position: relative;
        left: 50%; transform: translateX(-50%);
        background-image: url(../images/battery.jpg);
        background-repeat: no-repeat;
        width: 2560px; height: 1078px;
        margin-top: -100px;
        @include desktop {
            background-image: url(../images/battery.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            width: 1068px; height: 747px;
        }
        @include mobile {
            background-image: url(../images/battery_small.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            width: 736px; height: 356px;
            margin-top: 50px;
        }
    }
}


// --------------------------- sc-connect ----------------------------
.sc-connect {
    .main-content {
        max-width: 980px;
    }
    .image-wrap {
        position: relative;
        left: 50%; transform: translateX(-48%);
        background-image: url(../images/connect.jpg);
        background-repeat: no-repeat;
        width: 564px; height: 628px;
        margin-top: 50px;
        @include desktop {
            background-image: url(../images/connect.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 500px; height: 560px;
        }
        @include mobile {
            background-image: url(../images/connect_small.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 314px; height: 349px;
        }
    }
}


// --------------------------- sc-share ----------------------------
.sc-share {
    .main-content {
        max-width: 980px;
        @include desktop {
            max-width: 690px;
        }
    }
    .image-wrap {
        position: relative;
        left: 50%; transform: translateX(-48%);
        background-image: url(../images/share.jpg);
        background-repeat: no-repeat;
        width: 940px; height: 782px;
        margin-top: 50px;
        @include desktop {
            background-image: url(https://www.apple.com/kr/airpods-2nd-generation/e/images/overview/sharing__f4pyrzkt5ia2_medium.jpg);
            background-repeat: no-repeat;
            background-size: 723px 697px;
            width: 723px; height: 697px;
        }
        @include mobile {
            background-image: url(../images/share_small.jpg);
            background-repeat: no-repeat;
            background-size: 405px 421px;
            width: 405px; height: 421px;
        }
    }
}


// --------------------------- sc-design ----------------------------
.sc-design {
    overflow: hidden;
    margin-bottom: 20px;
    .main-content {
        background: #fafafa;
        margin: 0 20px 0 20px;
        max-width: 100%;
        padding: 60px 0 60px 60px;
        @include desktop {
            padding: 60px;
        }
        @include iphone {
            padding: 60px 0;
            margin: 0;
        }
        .inner {
            display: flex;
            justify-content: center;
            gap: 100px;
            margin: 0 auto;
            max-width: 1250px;
            @include desktop {
                flex-direction: column;
                align-items: center;
                gap: 0;
            }
            .text-area {
                max-width: 100%;
                margin-right: 20px;
                line-height: 1.2;
                @include desktop {
                    margin-right: 0;
                }
                .main-title {
                    font-size: 48px;
                    @include desktop {
                        font-size: 40px;
                        line-height: 1.2;
                    }
                    @include mobile {
                        font-size: 32px;
                    }
                }
                .desc {
                    max-width: 300px;
                    letter-spacing: .011em;
                    @include desktop {
                        max-width: 270px;
                        font-size: 17px;
                    }
                }
            }
            .image-wrap {
                position: relative;
                background-image: url(../images/design.png);
                background-repeat: no-repeat;
                width: 637px; height: 289px;
                margin-top: 20px;
                @include desktop {
                    background-image: url(https://www.apple.com/kr/airpods-2nd-generation/e/images/overview/engraving__ualb7ydsu1uq_medium.png);
                    background-repeat: no-repeat;
                    margin-left: -30px;
                }
                @include mobile {
                    background-image: url(../images/design_small.png);
                    background-repeat: no-repeat;
                    width: 274px; height: 114px;
                }
            }
        }
    }
}


// --------------------------- sc-music ----------------------------
.sc-music {
    overflow: hidden;
    
    .main-content {
        background: #fafafa;
        margin: 0 20px 20px 20px;
        max-width: 100%;
        padding: 60px 0 60px 60px;
        @include desktop {
            padding: 10px 0 60px;
        }
        @include mobile {
            padding-bottom: 30px;
        }
        @include iphone {
            margin: 0;
        }
        .inner {
            display: flex;
            justify-content: center;
            gap: 100px;
            padding: 10px 0 40px;
            margin: 0 auto;
            max-width: 1250px;
            @include desktop {
                flex-direction: column;
                align-items: center;
                gap: 0;
            }
            .text-area {
                max-width: 400px;
                padding: 55px 0 35px;
                line-height: 1.2;
                em {
                    font-size: 32px;
                    font-weight: 600;
                }
                .main-title {
                    font-size: 48px;
                    font-weight: 600;
                    @include desktop {
                        font-size: 40px;
                        line-height: 1.2;
                        padding: 0 35px;
                    }
                    @include mobile {
                        font-size: 32px;
                    }
                }
            }
            .image-wrap {
                width: 50%;
                position: relative;
                @include desktop {
                    width: 310px; height: 320px;
                }
                .music1 {
                    position: absolute;
                    top: 60%; left: 50%; transform: translate(-50%, -50%);
                    z-index: 1;
                    @include mobile {
                        background-image: url(../images/music_small.jpg);
                        background-repeat: no-repeat;
                        width: 247px; height: 247px;
                    }
                }
                .music2 {
                    position: absolute;
                    top: 45%; left: 50%; transform: translate(-50%, -50%);
                    @include desktop {
                        width: 90%;
                    }
                    @include mobile {
                        background-image: url(../images/music_small2.jpg);
                        background-repeat: no-repeat;
                        width: 229px; height: 259px;
                        top: 49%;
                    }
                }
                .music3 {
                    position: absolute;
                    top: 50%; left: 5%;
                    z-index: 2;
                    @include desktop {
                        top: 40%; left: -25%;
                    }
                    @include mobile {
                        background-image: url(../images/music_left_small.jpg);
                        background-repeat: no-repeat;
                        width: 99px; height: 157px;
                        top: 45%; left: -10%;
                    }
                }
                .music4 {
                    position: absolute;
                    top: 20%; right: 5%;
                    z-index: 2;
                    @include desktop {
                        right: -25%;
                    }
                    @include mobile {
                        background-image: url(../images/music_right_small.jpg);
                        background-repeat: no-repeat;
                        width: 100px; height: 155px;
                        top: 30%; right: -10%;
                    }
                }
            }
        }
    }
}


// --------------------------- sc-recommend ----------------------------
.sc-recommend {
    padding: 30px 0 20px;

    .main-content {
        max-width: 100%;
        padding-top: 50px;
        .main-title {
            font-size: 64px;
            line-height: 1;
            font-weight: 600;
            @include desktop {font-size: 40px;}
            @include recommend {font-size: 32px; padding-bottom: 50px;}
        }

        .group-inner {
            max-width: 940px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            gap: 20px;
            @include desktop {
                max-width: 850px;
                padding: 0 20px;
            }
            @include recommend {
                max-width: 540px;
                flex-wrap: wrap;
                padding: 0;
            }
            @include mobile {
                margin: 0 auto;
            }
        }

    }
}


