.main-content {
    position: relative;
    padding-top: 100px;
    max-width: 980px;
    margin: 0 auto;
    z-index: 2;

    .sc-intro & {
        padding-top: 50px;
        @include desktop {
            max-width: 692px;
        }
        @include mobile {
            max-width: 625px;
        }
    }
    .sc-wireless & {
        padding-top: 50px;
        @include desktop {
            max-width: 692px;
        }
        @include mobile {
            max-width: 625px;
            text-align: left;
            margin: 0 36px;
        }
        @include iphone {
            max-width: 280px;
            margin: 0 20px;
        }
    }
    .sc-performance &, .sc-charge &, .sc-battery &, .sc-connect &, .sc-share & {
        @include mobile {
            max-width: 625px;
            text-align: left;
            margin: 0 36px;
        }
        @include iphone {
            max-width: 280px;
            margin: 0 20px;
        }
    }
    

    .main-logo {
        font-size: 40px;
        font-weight: 600;
        line-height: 1;
        @include desktop {
            font-size: 32px;
        }
        @include mobile {
            font-size: 24px;
        }
    }
    .main-title {
        font-size: 48px;
        font-weight: 600;
        margin: 10px 0 20px;
        @include desktop {
            font-size: 40px;
        }
        @include mobile {
            font-size: 32px;
        }
        .sc-charge & {
            @include mobile {
                max-width: 120px;
                line-height: 1.2;
            }
        }
        .sc-connect & {
            @include iphone {
                padding-right: 100px;
            }
        }
    }
    .desc {
        margin: 0 auto;
        font-size: 21px;
        line-height: 1.5;
        letter-spacing: .001em;
        .sc-intro & {
            margin: 0 200px;
            @include desktop {
                margin: 0 50px;
            }
            @include mobile {
                font-size: 19px;
                margin: 0 38px;
            }
        }
        .sc-wireless & {
            margin: 0 202px;
            @include desktop {
                margin: 0 60px;
            }
            @include mobile {
                margin: 0;
                font-size: 19px;
            }
        }
        .sc-performance &, .sc-charge & {
            margin: 0 120px;
            @include mobile {
                margin: 0;
                font-size: 19px;
            }
        }
        .sc-battery & {
            margin: 0 80px;
            @include desktop {
                margin: 0 55px;
            }
            @include mobile {
                margin: 0;
                font-size: 19px;
            }
        }
        .sc-connect & { 
            margin: 0 130px; 
            @include mobile {
                margin: 0;
                font-size: 19px;
            }
        }
        .sc-share & { 
            margin: 0 240px;
            @include desktop {
                margin: 0 32px;
            }
            @include mobile {
                margin: 0;
                font-size: 19px;
            }
        }
        
    }
    .link-video{
        display: inline-block;
        margin: 20px 0;
        font-size: 20px;
        font-weight: 400;
        color: #06c;
        &>span:hover {
            text-decoration: underline;
        }
        &::after {
            content: "▶";
            font-size: 2px;
            border-radius: 100%;
            border: 1px solid #06c;
            padding: 4px;
            margin-left: 8px;
            vertical-align: middle;
        }
        @include mobile {
            font-size: 19px;
        }
    }
    .link {
        display: inline-block;
        margin: 30px 0;
        font-size: 21px;
        font-weight: 400;
        color: #06c;
        &>span:hover {
            text-decoration: underline;
        }
        &::after {
            content: ">";
        }
        .sc-design &, .sc-music & { 
            margin: 10px 0; 
            @include desktop {
                font-size: 17px;
            }
        }
        
    }
}

.column {
    max-width: 50%;
    @include recommend {
        margin: 0 auto;
    }
    .product-area {
        width: 210px;
        height: 480px;
        border-bottom: 1px solid #ddd;
        @include desktop {
            width: 160px; height: 370px;
        }
        @include recommend {
            width: 210px;
        }
        @include iphone {
            width: 135px;
        }
        .image-box {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            margin: 0 auto;
            width: 210px; height: 235px;
            @include desktop {
                width: 99px; height: 130px;
            }
        }
        .info-box {
            padding-top: 50px;
            width: 210px;
            margin: 0 auto;
            @include desktop {
                width: 160px;
            }
            @include recommend {
                width: 210px;
            }
            @include iphone {
                width: 135px;
            }
            .title {
                font-size: 24px;
                font-weight: 600;
                .sub-title {
                    display: block;
                    height: 21px;
                    font-size: 13px;
                    font-weight: 400;
                }
            }
            .price {
                display: block;
                font-size: 17px;
                margin: 10px 0 15px;
            }
            .link-buy {
                font-size: 11px;
            }
            .link {
                display: block;
                font-size: 12px;
                margin-top: 15px;
            }
        }
    }

    .info-area {
        margin-top: 50px;
        padding-bottom: 50px;
        border-bottom: 1px solid #ddd;
        width: 210px;
        @include desktop {
            width: 160px;
        }
        @include recommend {
            width: 210px;
        }
        @include iphone {
            width: 135px;
        }
        .info-list {}
        .info-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 91px;
            margin-top: 50px;

            .set-img-box {
                display: flex;
                flex-direction: row;
                gap: 10px;
            }
            .text {
                padding-top: 10px;
                font-size: 13px;
                line-height: 1.2;
                .value {
                    font-size: 42px;
                    font-weight: 500;
                }
                .sub-value {
                    display: block;
                }
                sup {font-size: 10px;}
            }
        }
    }
}