.main-content {
    padding-top: 150px;
    .main-logo {
        font-size: 40px;
        font-weight: 600;
    }
    .main-title {
        font-size: 48px;
        font-weight: 600;
        margin: 10px 0;
    }
    .desc {
        width: 53%;
        margin: 0 auto;
        font-size: 21px;
        line-height: 1.8;
    }
    .link {
        display: inline-block;
        margin: 20px 0;
        font-size: 21px;
        font-weight: 400;
        color: #06c;
        &>span:hover {
            text-decoration: underline;
        }
        &::after {
            content: "▶";
            font-size: 2px;
            border-radius: 100%;
            border: 1px solid #06c;
            padding: 4px;
            margin-left: 8px;
            vertical-align: middle;
        }
    }
}